{% extends "base/base.html" %} {% block content %}
<style>
    .star {
      display: inline;
    }
</style>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%} {% for book in books.items %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="{{ book.img_url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/book/detail/{{ book.id }}" style="text-decoration: None; color: black"
            ><h5 class="card-title">{{ book.book_name }}</h5></a
          >
          <!-- <p class="card-text">{{ book.description }}</p> -->
          <h5>재고 : {{ book.stock }}</h5>
        {% for n in range(1,6) %} {% if book.rating<n %}
          <h5 id="star-{{ n }}" class="star" style="color: gray">★</h5>
          {% else %}
          <h5 id="star-{{ n }}" class="star" style="color: gold">★</h5>
          {% endif %} {% endfor %}
          <button type="button" class="btn btn-primary form-control rounded-pill" data-toggle="modal" data-target="#book-{{ book.id }}">
            대여하기
          </button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="book-{{ book.id }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h5 class="card-title">{{ book.book_name }}를 대여하시겠습니까?</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="/book/rent/{{ book.id }}" method="post" class="post-form">
                <input type="hidden" value="{{ book.id }}" name="book_id" />
                <input type="submit" value="대출" class="btn btn-primary" />
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if books.has_prev %}
    <li class="page-item">
      <a class="page-link" href="?page={{ books.prev_num }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %} {% for page_num in books.iter_pages() %} {% if page_num %} {% if page_num !=
    books.page %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %} {% else %}
    <li class="disabled">
      <a class="page-link" href="#">...</a>
    </li>
    {% endif %} {% endfor %}
    <!-- 다음페이지 -->
    {% if books.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ books.next_num }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
